{% extends 'base.html' %}
{% block content %}
<h1>Разработка механизмов выявления мошенничества в финансовой сфере с использованием методов машинного обучения</h1>
<p>Добро пожаловать на главную страницу нашего сайта! Здесь вы найдете визуальную интерпретацию дипломной работы на
    тему "Разработка механизмов выявления мошенничества в финансовой сфере с использованием методов машинного обучения".
</p>
<p>Наш сайт предоставляет возможность просмотра транзакций как с точки зрения пользователя информационной системы, так и
    предоставляет справочную информацию о результатах работы модели. Мы предлагаем уникальную возможность увидеть, как
    наши
    разработанные механизмы выявления мошенничества в финансовой сфере работают в реальном времени. Вы сможете
    ознакомиться
    с результатами работы модели и увидеть, как она анализирует и классифицирует транзакции.</p>
<p>Мы уверены, что наша работа поможет повысить безопасность финансовых операций и защитить вас от мошенничества.
    Приглашаем вас ознакомиться с нашими разработками и убедиться в их эффективности!</p>



{% endblock %}